.drag-container {
  height: 400px;
  background-color: gray;
}

.drag-box {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  cursor: move;
  background: #dd571c;
}

.text-box {
  position: relative;
}

.float-text {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
}

.drag-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}
