.drag-box {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: absolute;
  cursor: move;
  background: #ffc75f;
}

.text-box {
  position: relative;
}

.float-text {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
}

.drag-text {
  position: absolute;
  top: 270px;
  right: 0;
  font-size: 18px;
}
