* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.page2 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f871;
}

.page2 > h1 {
  align-self: flex-start;
}

.about-container {
  align-self: center;
  max-width: 600px;
}

.fname {
  padding-bottom: 20px;
}

.about-me {
  line-height: 25px;
  padding-bottom: 30px;
}

.about-me > span {
  color: orangered;
}

.btnp2 {
  align-self: flex-start;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: black;
}

.btnp2:hover {
  color: black;
  background-color: orangered;
}

.git > a {
  text-decoration: none;
  color: blueviolet;
  font-size: large;
}
